## Python stuff
# Byte-compiled / optimized / DLL files
__pycache__/
*$py.class

# Tests / reports
.coverage
coverage.xml

# Virtual environment
.venv/
venv/

## IDE and OS stuff
.DS_Store

.vscode/

## Build
_dist/